@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cor-fundo: #ffffff;
  --cor-texto: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-fundo: #0a0a0a;
    --cor-texto: #ededed;
  }
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  @apply font-sans antialiased;
}
